//! **************************************************************************
// Written by: Map P.20131013 on Fri Mar 15 23:09:49 2019
//! **************************************************************************

SCHEMATIC START;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

