//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 24 20:36:47 2019
//! **************************************************************************

SCHEMATIC START;
COMP "ck" LOCATE = SITE "P54" LEVEL 1;
COMP "done" LOCATE = SITE "P48" LEVEL 1;
COMP "load" LOCATE = SITE "P69" LEVEL 1;
COMP "Sw<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "Sw<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "Sw<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "Sw<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "Sw<4>" LOCATE = SITE "P18" LEVEL 1;
COMP "Sw<5>" LOCATE = SITE "P12" LEVEL 1;
COMP "Sw<6>" LOCATE = SITE "P10" LEVEL 1;
COMP "Sw<7>" LOCATE = SITE "P6" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P7" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P5" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P4" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P3" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P2" LEVEL 1;
SCHEMATIC END;

